<div class="container" ng-controller="productsCtrl as pc">
	<div id="custom-search-input">
		<div class="input-group col-md-12">
			<input type="text" class="  search-query form-control" dir-autocomplet placeholder="Search" url="pc.url"/>
			<span class="input-group-btn">
                 <button class="btn btn-danger" type="button">
                 <span class=" glyphicon glyphicon-search"></span>
			</button>
			</span>
		</div>
	</div><br><br>
	<table id="cart" class="table table-hover table-condensed">
		<thead>
			<tr>
				<th style="width:50%">Product</th>
				<th style="width:10%">Price</th>
				<th style="width:8%">Quantity</th>
				<th style="width:22%" class="text-center">Subtotal</th>
				<th style="width:10%">AddToCart</th>
				<th style="width:10%">Delet</th>

			</tr>
			<a href="#" ng-click="pc.showMore()">ShowMore</a>
		</thead>
		<tbody>
			<tr ng-repeat="product in pc.products | limitTo : pc.minimumProducts">
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 hidden-xs"><img src="./images/Camera/canon/{{product.picture}}" alt="..." class="img-responsive" /></div>
						<div class="col-sm-10">
							<h4 class="nomargin">
								<p ng-if="product.Name">{{product.Name | uppercase}}</p>
							</h4>
							<p>{{product.description | limitTo :50}}</p>
						</div>
					</div>
				</td>
				<td data-th="Price">{{product.price | currency : 'Rs.'}}</td>
				<td data-th="Quantity">
					<!--<input type="number" class="form-control text-center" value="1">-->
					
					<select class="form-control text-center"  ng-model="pc.totValue" ng-options="no  for no in pc.totValue" ng-change="pc.sumTotal()">
                        <option value="">Select</option>
						
                    </select>
				</td>
				<td data-th="Subtotal" class="text-center">1.99</td>
				<td class="actions" data-th="">
					<button type="button" class="btn btn-warning" ng-click="pc.addToCart(product)">AddToCart</button>

					<td><button type="button" class="btn btn-danger" data-toggle="modal" ng-click="pc.deletUser(product)">Delet</button></td>
			</tr>

		</tbody>
		<tfoot>
			<tr class="visible-xs">
				<td class="text-center"><strong>Total 1.99</strong></td>
			</tr>
			<tr>
				<td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
				<td colspan="2" class="hidden-xs"></td>
				<td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
				<td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
			</tr>
		</tfoot>
	</table>
</div>